<header>
    <nav>
        <a class="link" href="/posts">Posts</a>
        <a class="link" href="/users">Users</a>
        <a class="link" href="/users/create">Create-Users</a>
        <a class="link" href="/posts/create">Post-Users</a>
    </nav>
    <div class="menubar">
        <button id="btnmenu"><i class="material-icons" style="font-size: 30px;">menu</i></button>
        <div id="dropdown" class="dropdown">
            <p id="close">X</p>
            <p>My Face</p>
            <a class="link3" href="/">Home</a>
            <a class="link3" href="/posts">Posts</a>
            <a class="link3" href="/users">Users</a>
            <a class="link3" href="/posts/create">+ New Post</a>
        </div>
    </div>

</header>